.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* src/App.css */
body {
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Optional: add padding to ensure content is not touching the edges */
}

.form-group {
  margin-bottom: 20px; /* Adjust this value to increase the spacing between lines */
}

.label-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the label/input pairs */
}

label {
  display: block;
  margin-bottom: 5px;
}

.label-group label {
  margin-bottom: 0; /* Remove bottom margin for labels inside label-group */
}

.svg-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
